 
.page_body {
  width: 100%;
  background-image: url(/demo-background.svg),linear-gradient(to bottom,#d4d4d4,#733872);
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 0;
}
nav.page_body {
  height: 25px;
  padding: 10px 20px;
}

nav.page_body a {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.9;
}

.build-form{
  display: flex;
}

.form-wrap.form-builder{
  border: 3px dashed #ccc;
  background-color: rgba(255,255,255,0.25);
  width: 75%;
}
.cb-wrap.pull-right{
  width: 25%;
}
 
.form-wrap.form-builder .frmb-control li:first-child {
  border-radius: 5px 5px 0 0;
  margin-top: 0;
}
.btn.save {
  color: #fff;
  background-color: #325d88;
  border-color: transparent;
  margin: 5px 5px 15px 5px;
}
.btn.clear {
  color: #fff;
  background-color: #c07d30;
  border-color: transparent;
  margin: 5px 5px 15px 40px;
}
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 6px 16px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.frmb-control li:first-child {
  border-radius: 5px 5px 0 0;
  margin-top: 0;
} 
.frmb-control li {
  cursor: pointer;
  list-style: none;
  font-size: 14px;
  margin: 0 15% 0 0;
  padding: 8px;
  text-align: left;
  background: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px #c5c5c5;
}

/* fields for from-control ----- form_fields.js  */

.form-control{
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.form-group {
  width: 90%;
  padding: 50px;
  display: flex;
}
.input-group {
  width: 50%;
  padding: 10px;
}
.dynamic-input-control{
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  
.popup_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: transparent; 
}

.templates{
  color: #FFF;
  padding: 10px;
}

.panel {
  padding: 0px 10px;
  display: inline-flex;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  color: #000000;
  width: 100%;
}
.w-3{
  width: 25%;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.cursor{
  cursor: pointer;
}